{
	Filter = {
        Executeables = (
            nanomediaremotelinkagent
        );
		Bundles = (
			"com.apple.TelephonyUtilities",
			"com.apple.InCallService",
			"com.apple.Preferences",
			"com.apple.mobilephone",
			"com.apple.springboard",
			"com.apple.MobileSMS",
			"com.apple.MobileAddressBook",
			"com.apple.mobilemail",
			"com.apple.mobiletimer",
			"nanomediaremotelinkagent",
		);
		Mode = Any;
	};
}
