Package: fi.flodin.tonehelper
Name: ToneHelper
Depends: mobilesubstrate, ws.hbang.common (>= 1.12)
Version: 0.3.3
Architecture: iphoneos-arm
Description: Automatically adds ringtones from Audiko to device
Maintainer: Jesper Flodin <jesper@flodin.fi>
Author: Jesper Flodin <jesper@flodin.fi>
Section: Tweaks
Depiction: https://jesperflodin1.github.io/depictions/?p=fi.flodin.tonehelper
