Package: fi.flodin.tonemanager
Name: ToneManager
Depends: applist, com.modmyi.libswift4
Architecture: iphoneos-arm
Description: Install ringtones from Audiko, Zedge and more!
Maintainer: Jesper Flodin <jesper@flodin.fi>
Author: Jesper Flodin <jesper@flodin.fi>
Section: Utilities
Depiction: https://jesperflodin1.github.io/depictions/?p=fi.flodin.tonemanager
