<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>HBPackageNameHeaderCell</string>
			<key>icon</key>
			<string>icon.png</string>
			<key>packageIdentifier</key>
			<string>fi.flodin.tonehelper</string>
			<key>titleColor</key>
			<string>#688500</string>
			<key>subtitleColor</key>
			<string>#aaaaaa</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Main settings</string>
			<key>footerText</key>
			<string>Imports ringtones from chosen apps if enabled. Open the ringtone picker in Preferences to trigger the import.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>fi.flodin.tonehelper</string>
			<key>key</key>
			<string>kEnabled</string>
			<key>PostNotifcation</key>
			<string>fi.flodin.tonehelper/PrefsReload</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Ringtone import settings</string>
			<key>footerText</key>
			<string>Imports from the above apps when the respective setting above is enabled. Restart Preferences app to apply. Note: Enabling all apps above or/and importing large amounts of ringtones may cause lag when opening the ringtone picker.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>fi.flodin.tonehelper</string>
			<key>key</key>
			<string>kAudikoLiteEnabled</string>
			<key>PostNotifcation</key>
			<string>fi.flodin.tonehelper/PrefsReload</string>
			<key>label</key>
			<string>Import from Audiko Lite</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>fi.flodin.tonehelper</string>
			<key>key</key>
			<string>kAudikoPaidEnabled</string>
			<key>PostNotifcation</key>
			<string>fi.flodin.tonehelper/PrefsReload</string>
			<key>label</key>
			<string>Import from Audiko (Paid version)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>fi.flodin.tonehelper</string>
			<key>key</key>
			<string>kZedgeEnabled</string>
			<key>PostNotifcation</key>
			<string>fi.flodin.tonehelper/PrefsReload</string>
			<key>label</key>
			<string>Import from Zedge Ringtones</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>JFTHRingtoneListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>List imported Ringtones</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>footerText</key>
			<string>To apply changes please respring.</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>respring:</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Advanced Settings</string>
			<key>footerText</key>
			<string>Makes imported ringtones work in non-jailbroken mode by writing metadata to Ringtones.plist required for iOS to find ringtones imported by this tweak. 
NOTE: This option enables modification of Ringtones.plist in /var/mobile/Media/iTunes_Control/iTunes/Ringtones.plist.
Requires Respring!</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>fi.flodin.tonehelper</string>
			<key>key</key>
			<string>kWriteITunesRingtonePlist</string>
			<key>PostNotifcation</key>
			<string>fi.flodin.tonehelper/PrefsReload</string>
			<key>label</key>
			<string>Enable in non-jailbroken mode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Debug Logging</string>
			<key>footerText</key>
			<string>Enable to save logs to a file. REQUIRES RESPRING. Send the logs to the Developer using send email below.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>fi.flodin.tonehelper</string>
			<key>key</key>
			<string>kDebugLogging</string>
			<key>PostNotifcation</key>
			<string>fi.flodin.tonehelper/PrefsReload</string>
			<key>label</key>
			<string>Enable logging to file</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>cleanLogs:</string>
			<key>label</key>
			<string>Delete all logs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Contact info</string>
			<key>footerText</key>
			<string>© 2018 Jesper Flodin. Source code licensed under the MIT license.</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Jesper Flodin</string>
			<key>user</key>
			<string>JesperFlodin</string>
		</dict>
	</array>
	<key>title</key>
	<string>ToneHelper</string>
</dict>
</plist>
